<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>
          {{title}}
        </h2>
        <p>
          小时候玩过那种外面大圆齿轮，中间小圆齿轮，有很多小孔，插入画笔，不断旋转就能画出美丽图案的玩具，这就是一个用计算机模拟万花规的程序。
        </p>
      </div>
      <div class="row">
        <div class="col-md-10">
          <canvas #stage width="800" height="600"></canvas>
        </div>
        <div class="col-md-2">
          <form role="form">
            <div class="form-group">
              <label for="speed">
                速度
              </label>
              <input type="number" [(ngModel)]="speed" name="speed" class="form-control" autocomplete="off">
            </div>

            <div class="form-group">
              <label for="width">
                画笔粗细
              </label>
              <input type="number" [(ngModel)]="width" name="width" class="form-control" autocomplete="off">
            </div>

            <div class="form-group">
              <label for="color">
                颜色
              </label>
              <input type="text" [(colorPicker)]="color" [(ngModel)]="color" name="color" class="form-control" autocomplete="off">
            </div>

            <div class="form-group">
              <label for="rbig">
                大圆半径
              </label>
              <input type="number" [(ngModel)]="rbig" name="rbig" class="form-control" autocomplete="off">
            </div>

            <div class="form-group">
              <label for="rsmall">
                小圆半径
              </label>
              <input type="number" [(ngModel)]="rsmall" name="rsmall" class="form-control" autocomplete="off">
            </div>

            <div class="form-group">
              <label for="rpen">
                画笔半径
              </label>
              <input type="number" [(ngModel)]="rpen" name="rpen" class="form-control" autocomplete="off">
            </div>
            
            <button (click)="startDraw()" type="button" class="btn btn-primary">
              开始绘图
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>